*.pyc

HicoDetTool/.idea/
HicoDetTool/data/hico_processed/*
HicoDetTool/data/hico_mat/*
HicoDetTool/data/poses/*
HicoDetTool/SmallJsonMerger.py
HicoDetTool/wandb/*
HicoDetTool/data/model/*
HicoDetTool/tmp/*

AffordanceModelOld/.idea/

HoiOriClassifier/.idea/
HoiOriClassifier/data/models
HoiOriClassifier/results_hico_merge_2015.json
